#app {
  margin: 0 auto;
  font-weight: normal;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  margin: 0;
}
